
  <section class="details" data-id="{{election.id}}">
    {{log election}}
    <h2>
      {{election.name}}
    </h2>
    <h4>Voting method:
      {{#if election.voting_method}}
        {{election.voting_method}}
      {{else}}
        No voting method provided.
      {{/if}}
    </h4>
    <div class="detail">Option 1:
      {{#if election.option1}}
        {{election.option1}}
      {{else}}
        No options provided.
      {{/if}}
    </div>
    {{#if election.option2}}
      <div class="detail">Option 2:
        {{election.option2}}
      </div>
    {{/if}}
    {{#if election.option3}}
      <div class="detail">Option 3:
        {{election.option3}}
      </div>
    {{/if}}
    {{#if election.option4}}
      <div class="detail">Option 4:
        {{election.option4}}
      </div>
      {{/if}}
    {{#if election.option5}}
      <div class="detail">Option 5:
        {{election.option5}}
      </div>
    {{/if}}
    {{#if election.option6}}
      <div class="detail">Option 6:
        {{election.option6}}
      </div>
    {{/if}}
    {{#if election.option7}}
      <div class="detail">Option 7:
        {{election.option7}}
      </div>
    {{/if}}
    {{#if election.option8}}
      <div class="detail">Option 8:
        {{election.option8}}
      </div>
    {{/if}}
    {{#if election.option9}}
      <div class="detail">Option 9:
        {{election.option9}}
      </div>
    {{/if}}
    <div class='buttons'>
      <button type="submit" class="btn btn-info updateElectionButton mr-2">Edit</button>
      <button type="submit" class="btn btn-danger delete-election mr-2">Delete</button>
      <button class="index-elections btn btn-info mr-2">Back</button>
    </div>

    <!-- {{> partial}} -->
  </section>
