
  <section class="details" data-id="{{election.id}}">
    {{log election}}
    <h2>
      {{election.name}}
    </h2>
    <h4>Voting method:
      {{#if election.voting_method}}
        {{election.voting_method}}
      {{else}}
        No voting method provided.
      {{/if}}
    </h4>
    <h5>Option 1:
      {{#if election.option1}}
        {{election.option1}}
      {{else}}
        No options provided.
      {{/if}}
    </h5>
    {{#if election.option2}}
    <h5>Option 2:
        {{election.option2}}
      </h5>
      {{/if}}
    {{#if election.option3}}
    <h5>Option 3:
        {{election.option3}}
      </h5>
      {{/if}}
    {{#if election.option4}}
    <h5>Option 4:
        {{election.option4}}
      </h5>
      {{/if}}
    {{#if election.option5}}
    <h5>Option 5:
        {{election.option5}}
      </h5>
      {{/if}}
    {{#if election.option6}}
    <h5>Option 6:
        {{election.option6}}
      </h5>
      {{/if}}
    {{#if election.option7}}
    <h5>Option 7:
        {{election.option7}}
    </h5>
    {{/if}}
    {{#if election.option8}}
    <h5>Option 8:
        {{election.option8}}
    </h5>
    {{/if}}
    {{#if election.option9}}
    <h5>Option 9:
        {{election.option9}}
    </h5>
    {{/if}}
    <div class='buttons'>
      <button type="submit" class="btn btn-info updateElectionButton">Edit</button>
      <button type="submit" class="btn btn-danger delete-election">Delete</button>
      <button class="index-elections btn btn-info mr-2">Back</button>
    </div>

    <!-- {{> partial}} -->
  </section>
